<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{trip.name}} - Travlr Getaways</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			
			{{> header}}

			<div id="contents">
				<div class="box">
					<div>
						<div class="body">

							<h1>{{trip.name}}</h1>

						    <p>{{message}}</p>
							
							<ul id="sites">
								<li>
									<img src="/images/{{trip.image}}" alt="{{trip.name}}">

									<p><strong>Length:</strong> {{trip.length}}</p>
									<p><strong>Start:</strong> {{trip.start}}</p>
									<p><strong>Resort:</strong> {{trip.resort}}</p>
									<p><strong>Per Person:</strong> {{trip.perPerson}}</p>

									{{{trip.description}}}
								</li>
							</ul>

							<p><a href="/travel">Back to all trips</a></p>

						</div>
					</div>
				</div>
			</div>

		</div>

		{{> footer}}

	</div>
</body>
</html>
